label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.annoTitle {
    color: #212529;
    background-color: #f9bb00;
    border-color: #f9bb00;
}
.annoContainer {
    width: 425px;
    background-color: #ffd969;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow-x: auto;
    height: 200px;
}
#slideButton {
    z-index: 999;
    position: fixed;
    top: 0px;
    right: 1.1em;
    height: 2em;
    width: 2em;
}
#openHighlightButton, #closeHighlightButton{
    z-index: 999;
    position: fixed;
    top: 0px;
    right: 3.5em;
    height: 2em;
    width: 2em;
}

#createAnnotationButton {
    position: fixed;
    top: 0px;
    right: 6em;
    height: 2em;
    width: 2em;
}


svg {
    position:absolute;
    top:5%; left:5%;
    height:90%; width:90%;

}

.highlightedAnnotation{
    background-color: #ffd969;
}

.toast-header, #annotation-modal .modal-header{
   background-color: #f9bb00;
}
.annoContainer span { background-color: #f9bb00; border-color: #f9bb00;}
.annoContainer input { border-color: #f9bb00;}
.annoTitle label { margin:1%; font-weight: 500 !important;}
.annoContainer .footer label { margin:1%; font-weight: 500 !important; text-align: center;}
.annoContainer div label { margin:1%; font-weight: 200; }
.annoContainer .annoDiv { padding: 2%;}
.annoContainer .search { padding-right: 3%; padding-left: 3%; padding-top: 10%;}
.pointedAnnotation {
    z-index: 999;
    position: absolute;
}


