<!DOCTYPE html>
<html lang="en">
<head>
  <title>Communityverse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/tagsinput.css' %}">
	<!--  <link rel="stylesheet" href="{% static 'css/annotator.min.css' %}">-->
  <link rel="stylesheet" href="{% static 'css/popup.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/jquery.Jcrop.css' %}">


  <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/tagsinput.js' %}"></script>



  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>

    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'annotation/annotation-model.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'annotation/popup.js' %}"></script>

 
  <style>
   
  </style>
</head>

<script>




$.extend({
    zResponse: function(url, data) {
        var theResponse = null;
        $.ajax({
            url: url,
            data: data,
			type: "GET",
            async: false,
            success: function(respText) {
                theResponse = respText;
            }
        });
        return theResponse;
    }
});



$( document ).ready(function() {
//////////////////////////////////////////////////////////////////////////////
/////////////////////////                                /////////////////////
/////////////////////////        COMMUNITY               /////////////////////
/////////////////////////                                /////////////////////
//////////////////////////////////////////////////////////////////////////////

//FETCH MODAL INFORMATION
	$( "#AddCommunity" ).click(function() {
		var requestFormData={Form:"Yes"};
		var communityForm = $.zResponse("/streampage/sendCommunityForm",requestFormData);
		$('#communityModalBody').html(communityForm);
		$('#CommunityModalTitle').html("Add New Community");
		var tagSelector = document.getElementById("communityTag");
		if(!tagSelector){
			$('#addCommunityTagDivision').append('<label for="communityTag">Tag Selector:</label><div class="row p-2"><select class="form-control col-sm-10" id="communityTag"></select><button type="click" id="addTagforCommunity" class="btn btn-outline-primary btn-sm mr-auto col-sm-2 small"><i class="fa fa-plus small" aria-hidden="true"></i> Add Tag</button></div>');
		}
		$('#CommunityModal').modal('show');
		var length = $('select[name="Community_Country"]')[0].options.length;

		for(var i = 1; i<length; i++){
			$('select[name="Community_Country"]')[0].options[i].value = $('select[name="Community_Country"]')[0].options[i].text;
		}
	});

	
//REAL TIME COMMUNITY WIKIDATA TAG  SEARCH
	var tagSearch = function() {
		$.ajax({
            url: "/streampage/searchTag",
            data: {
				'search_text' : $('#id_Community_Name').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			type: "GET",
            dataType: "html",
            success: searchResult
        });			
	};	
	function searchResult(data, textStatus, jqXHR){
		var communityTagList = data.split("#");
		$('#communityTag').html("");
		for(var i=0; i< communityTagList.length; i++){
			$('#communityTag').append( new Option(communityTagList[i],i));
		}
	}
	$("body").on('keyup', "#id_Community_Name", tagSearch);
	
	$(document).on ("click", "#addTagforCommunity", function (event) {
		var selectedName = $('#communityTag').find(":selected").text();
		console.log(selectedName)
		$("#id_Community_Tags").append("#"+selectedName);
	});
	

//CREATE COMMUNITY (MODAL)
	$(document).on ("click", "#createCommunityButton", function (event) {
		event.preventDefault();
		var data = new FormData($('#createCommunity').get(0));
		console.log($("input[name=csrfmiddlewaretoken]").val());
		$.ajax({
			type:'POST',
			url: '/streampage/CreateCommunity/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: CommunityCreateResult
		});
	});
	
	function CommunityCreateResult(data, textStatus, jqXHR){
		alert(data);
		window.location.reload();
	}



	$(document).on ("change", "#id_Community_Country", function () {
		$.ajax({
			url: "/streampage/populateProvince/",
			data: {
				'country' : $('#id_Community_Country').find(":selected").text()
			},
			type: "GET",
			dataType: "json",
			success: function(result){
				var provinces = $('select[name="Community_Location"]');
				$('#id_community_location').empty();
				var dropdown = document.getElementById('id_community_location');
				if(result.provinceList.length != 0){
					$("#id_community_location").removeAttr("disabled");
					for(var i = 0; i<result.provinceList.length; i++){
						var option = document.createElement('option');
						option.appendChild( document.createTextNode(result.provinceList[i]));
						option.value = result.provinceList[i];
						dropdown.appendChild(option);
					}
				}
				else{
					$("#id_community_location").attr('disabled', 'disabled');
				}
			}
		});
	})
	
//CHECK COMMUNITY MEMBERSHIP
	$( '.classC' ).click(function() {
		var Cname = $(this).attr('hash');
		var data = new FormData();
		data.append('community_Hash', Cname);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/CheckMembership/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				if (data.trim()=="Yes"){
					var posttypeParam={showDataTypes:Cname};
					var dt = $.zResponse("/streampage/sendPosttypePage",posttypeParam);
					window.location = '/streampage/sendPosttypePage/?showDataTypes='+Cname;	
				}else{
					alert("You should join first!")
				}
			}
		});

	});
	
//JOIN COMMUNITY
	$( "[JoinCommunity]" ).click(function() {
		var Chash = $(this).attr('hash');
		console.log(Chash)
		var data = new FormData();
		data.append('community_Hash', Chash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/JoinCommunity/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload()
			}		
		});
	});
	
	//LEAVE COMMUNITY
	$( "[LeaveCommunity]" ).click(function() {
		var Chash = $(this).attr('hash');
		console.log(Chash)
		var data = new FormData();
		data.append('community_Hash', Chash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/LeaveCommunity/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload()
			}		
		});
	});

//VOTE COMMUNITY
	$( "[VoteCommunity]" ).click(function() {
		var Chash = $(this).attr('hash');
		var data = new FormData();
		data.append('community_Hash', Chash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/VoteCommunity/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
			}		
		});
	});

//DELETE COMMUNITY
	$( "#deleteCommunity" ).click(function() {
		var Chash = $(this).attr('hash');
		var data = new FormData();
		data.append('community_Hash', Chash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/DeleteCommunity/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload();
			}		
		});
	});

//EDIT COMMUNITY MODAL
	$( "#Edit_Community" ).click(function() {
		var requestFormData={Form:"Yes"};
		var communityForm = $.zResponse("/streampage/EditCommunityModal",requestFormData);
		$('#communityEditModalBody').html(communityForm);
		$('#CommunityEditModalTitle').html("Edit Community Data");
		var tagSelector = document.getElementById("communityTag");
		if(!tagSelector){
			$('#addCommunityTagDivision').append('<label for="communityTag">Tag Selector:</label><div class="row p-2"><select class="form-control col-sm-10" id="communityTag"></select><button type="click" id="addTagforEditCommunity" class="btn btn-outline-primary btn-sm mr-auto col-sm-2 small"><i class="fa fa-plus small" aria-hidden="true"></i> Add Tag</button></div>');
		}
		/*var dropdown = $('#id_Community_Country');
		console.log(dropdown);
		dropdown.addClass("form-control edit");*/
		$('#CommunityEditModal').modal('show');
	});
	
//REAL TIME COMMUNITY WIKIDATA TAG  SEARCH
	var tagSearch = function() {
		$.ajax({
            url: "/streampage/searchTag",
            data: {
				'search_text' : $('#id_Community_Description').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			type: "GET",
            dataType: "html",
            success: searchResult
        });			
	};	
	function searchResult(data, textStatus, jqXHR){
		var communityTagList = data.split("#");
		$('#communityTag').html("");
		for(var i=0; i< communityTagList.length; i++){
			$('#communityTag').append( new Option(communityTagList[i],i));
		}
	}
	$("body").on('keyup', "#id_Community_Description", tagSearch);
	
	$(document).on ("click", "#addTagforEditCommunity", function (event) {
		var selectedName = $('#communityTag').find(":selected").text();
		console.log(selectedName)
		$("#id_Community_Tags").append("#"+selectedName);
	});
	
	
//EDIT COMMUNITY METADATA

	$( "#editCommunityButton" ).click(function() {
		event.preventDefault();
		var data = new FormData($('#editCommunity').get(0));
		data.append('community_Hash', "{{community_Hash}}");
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/EditCommunity/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload();
			}		
		});
	});
	
	
//BROWSE COMMUNITY
	$( '.classCBrowse' ).click(function() {
		var Cname = $(this).attr('hash');
		window.location = '/streampage/sendPosttypePageBrowse/?showDataTypes='+Cname;	
	});
	
//////////////////////////////////////////////////////////////////////////////
/////////////////////////                                /////////////////////
/////////////////////////        POSTTYPE                /////////////////////
/////////////////////////                                /////////////////////
//////////////////////////////////////////////////////////////////////////////

//ADD POSTTYPE
	$( "#AddPosttype" ).click(function() {
		var requestFormData={Form:"Yes"};
		var communityForm = $.zResponse("/streampage/sendPosttypeForm",requestFormData);
		$('#PosttypeModalBody').html(communityForm);
		$('#posttypeModalTitle').html("Add New Posttype");
		var tagSelector = document.getElementById("posttypeTag");
		if(!tagSelector){
			$('#addPosttypeTagDivision').append('<label for="posttypeTag">Tag Selector:</label><div class="row p-2"><select class="form-control col-sm-10" id="posttypeTag"></select><button type="click" id="addTagforPosttype" class="btn btn-outline-primary btn-sm mr-auto col-sm-2 small"><i class="fa fa-plus small" aria-hidden="true"></i> Add Tag</button></div>');
		}
		$('#PosttypeModal').modal('show');
	});
	
//REAL TIME POSTTYPE WIKIDATA TAG SEARCH
	var tagSearchDt = function() {
		$.ajax({
            url: "/streampage/searchTag",
            data: {
				'search_text' : $('#id_Posttype_Name').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			type: "GET",
            dataType: "html",
            success: searchResultDt
        });			
	};	
	function searchResultDt(data, textStatus, jqXHR){
		var posttypeTagList = data.split("#");
		$('#posttypeTag').html("");
		for(var i=0; i< posttypeTagList.length; i++){
			$('#posttypeTag').append( new Option(posttypeTagList[i],i));
		}
	}
	$("body").on('keyup', "#id_Posttype_Name", tagSearchDt);

	$(document).on ("click", "#addTagforPosttype", function (event) {
		var selectedName = $('#posttypeTag').find(":selected").text();
		$("#id_Posttype_Tags").append("#"+selectedName);
	});
	
//CREATE POSTTYPE (MODAL)
	$(document).on ("click", "#createPosttypeButton", function (event) {
			event.preventDefault();
			var data = new FormData($('#createPosttype').get(0));
			data.append('community_Hash', '{{community_Hash}}');
			data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
			//console.log($("input[name=csrfmiddlewaretoken]").val());
			$.ajax({
				type:'POST',
				url: '/streampage/CreatePosttype/',
				data: data,
				processData: false,
				contentType: false,
				dataType: "json",
				success: PosttypeCreateResult			
			});
	});
	
	function PosttypeCreateResult(data, textStatus, jqXHR){
		$('#editPosttypeButton').html('<button type="button" id="EditPosttypeInitial" hash='+data["posttypeHash"]+' class="btn btn-secondary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i> Edit Definition</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="DeletePosttypeInitial" hash='+data["posttypeHash"]+' class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i> Delete Definition</button>&nbsp;&nbsp;&nbsp;&nbsp;'+data["form"]+'<div class="container"><div class="row p-3" id="PrimitiveTable"><div class="col-sm-2">Name</div><div class="col-sm-2">Type</div><div class="col-sm-2">Required</div><div class="col-sm-2">Show</div><div class="col-sm-2">Enumerations</div><div class="col-sm-2">Action</div></div></div>')
		//$('#PosttypeResult').html('')
		$('#footerAddPosttype').html('<form method="post" action="" id="AddFields" enctype="multipart/form-data">{% csrf_token %}<div class=""><button type="button" id="Fields" hash='+data["posttypeHash"]+' class="btn btn-sm btn-outline-primary mr-auto"><i class="fa fa-plus" aria-hidden="true"></i> Add Field</button>&nbsp;&nbsp;<input type="checkbox" name="Enumeration" id="enumcheck"><label for="enumcheck">Enumeration?</label></div></form><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>')
		$('input[name="name"]').attr('readonly', true);
	}


//EDIT POSTTYPE (ADD MODAL)
	$(document).on ("click", "#EditPosttypeInitial", function (event) {
			event.preventDefault();
			var data = new FormData($('#createPosttype').get(0));
			var posttypeHash = $(this).attr('hash');
			data.append('Posttype_Hash', posttypeHash);
			data.append('community_Hash', '{{community_Hash}}');
			data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
			$.ajax({
				type:'POST',
				url: '/streampage/EditPosttypeMeta/',
				data: data,
				processData: false,
				contentType: false,
				dataType: "json",
				success: PosttypeEditResult			
			});
	});
	
	function PosttypeEditResult(data, textStatus, jqXHR){
		$('#editPosttypeButton').html('<button type="button" id="EditPosttypeInitial" hash='+data["posttypeHash"]+' class="btn btn-secondary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i> Edit Definition</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="DeletePosttypeInitial" hash='+data["posttypeHash"]+' class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i> Delete Definition</button>&nbsp;&nbsp;&nbsp;&nbsp;'+data["form"]+'<div class="container"><div class="row p-3" id="PrimitiveTable"><div class="col-sm-2">Name</div><div class="col-sm-2">Type</div><div class="col-sm-2">Required</div><div class="col-sm-2">Show</div><div class="col-sm-2">Enumerations</div><div class="col-sm-2">Action</div></div></div>')
	}
	

//DELETE POSTTYPE (ADD MODAL)
	$(document).on ("click", "#DeletePosttypeInitial", function (event) {
			event.preventDefault();
			var data = new FormData();
			var posttypeHash = $(this).attr('hash');
			data.append('Posttype_Hash', posttypeHash);
			data.append('community_Hash', '{{community_Hash}}');
			data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
			$.ajax({
				type:'POST',
				url: '/streampage/DeletePosttypeMeta/',
				data: data,
				processData: false,
				contentType: false,
				dataType: "json",
				success: PosttypeDeleteResult			
			});
	});
	
	function PosttypeDeleteResult(data, textStatus, jqXHR){
		$('#editPosttypeButton').html('<button type="button" id="EditPosttypeInitial" hash='+data["posttypeHash"]+' class="btn btn-secondary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i> Edit Definition</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="DeletePosttypeInitial" hash='+data["posttypeHash"]+' class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i> Delete Definition</button>&nbsp;&nbsp;&nbsp;&nbsp;'+data["form"]+'<div class="container"><div class="row p-3" id="PrimitiveTable"><div class="col-sm-2">Name</div><div class="col-sm-2">Type</div><div class="col-sm-2">Required</div><div class="col-sm-2">Show</div><div class="col-sm-2">Enumerations</div><div class="col-sm-2">Action</div></div></div>')
		alert(data["form"])
		$('#PosttypeModal').modal('hide');
		location.reload();
	}


//ADD PRIMITIVE FIELDS AS A RESPONSE OF A FORM	
	$(document).on ("click", "#Fields", function (event) {
			event.preventDefault();
			var data = new FormData($('#AddFields').get(0));
			data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
			$.ajax({
				type:'POST',
				url: '/streampage/addPosttypeField/',
				data: data,
				processData: false,
				contentType: false,
				dataType: "html",
				success: PrimitiveResult
			});
	});

	function PrimitiveResult(data, textStatus, jqXHR){
		$(data).appendTo($("#PosttypeResult")).show( "slow" );
		var posttypeHash = document.getElementById("EditPosttypeInitial").getAttribute("hash");
		$('#SavePrimitive').attr("hash",posttypeHash);
		var time = (new Date).getTime();
		$('#SavePrimitive').attr("id",time);
		$('#SavePrimitiveButton').attr("id",time);
		$('#SavePrimitiveButton').attr("id",time);
	}
	

//ADD OR UPDATE PRIMITIVES
	$(document).on ("click", "[updateClass]", function (event) {
		selectedID=$(this).attr('id');
		event.preventDefault();
		var data = new FormData($('#'+ selectedID).get(0));
		var posttypeHash = document.getElementById(selectedID).getAttribute("hash");
		data.append('CommunityHash', '{{community_Hash}}');
		data.append('PosttypeHash', posttypeHash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/SavePrimitives/',
			data: data,
			idval: selectedID,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				if (data.trim() == "Data is saved!"){
					$( "button[id="+this.idval+"][updateClass='true']" ).html( '<i class="fa fa-edit small" style="font-size:24px"></i>' );
					$( "button[id="+this.idval+"][deleteClass='true']" ).attr("deleteClass","db");
				}
			}		
		});
    });

//DELETE FIELDS
	$(document).on ("click", "[deleteClass]", function (event) {
		if ($(this).attr('deleteClass') == "db"){
			selectedID=$(this).attr('id');
			event.preventDefault();
			var data = new FormData($('#'+ selectedID).get(0));
			var posttypeHash = document.getElementById(selectedID).getAttribute("hash");
			data.append('CommunityHash', '{{community_Hash}}');
			data.append('DatatypeHash', posttypeHash);
			data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
			$.ajax({
				type:'POST',
				url: '/streampage/DeletePosttypeFields/',
				data: data,
				idval: selectedID,
				processData: false,
				contentType: false,
				dataType: "html",
				success: function(data, textStatus, jqXHR){
					alert(data)
					if (data.trim() == "Datatype is Deleted Successfully!"){
						jQuery('#'+this.idval).remove();
					}
				}		
			});
		}else{
			selectedID=$(this).attr('id');
			jQuery('#'+selectedID).remove();
		}
    });

	$(document).on ("click", "[editClass]", function (event) {
		selectedID=$(this).attr('id');
		event.preventDefault();
		var data = new FormData($('#'+ selectedID).get(0));
		data.append('CommunityHash', '{{ Community_Name.0.communityHash}}');
		data.append('DatatypeHash', '{{ Datatype_Name.0.datatypeHash }}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/EditDatatypeFields/',
			data: data,
			idval: selectedID,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload();
			}		
		});
    });

//////////////////////////EDIT POSTTYPE MODAL//////////////////////////////

//EDIT POSTTYPE CHOOSE  (EDIT MODAL)
	$(document).on ("click", "#Edit_Primitive", function (event) {
		var requestFormData = {};
		requestFormData["community_Hash"]= '{{community_Hash}}';
		var editPosttypeForm = $.zResponse("/streampage/EditPosttypes",requestFormData);
		$('#EditPosttypeModalBody').html(editPosttypeForm);
		$('#editButtons').html('<button type="button" id="EditSelectedPosttype" hash="" class="btn btn-secondary btn-sm"><i class="fas fa-edit" aria-hidden="true"></i> Edit Selected</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="DeleteSelectedPosttype" hash="" class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i> Delete Selected</button>&nbsp;&nbsp;&nbsp;&nbsp');
		$('#editposttypeModalTitle').html("Edit Posttypes");
		$('#EditPosttypeModal').modal('show');
	});

//EDIT MODAL FETCH SELECTED POSTTYPE FIELDS
$(document).on ("click", "#EditSelectedPosttype", function (event) {
		event.preventDefault();
		var data = new FormData($('#editPosttypeTrigger').get(0));
		data.append('CommunityHash', '{{community_Hash}}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/ShowPosttypeFields/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				$('#editReturnedFields').html('<div class="container"><div class="row p-3" id="PrimitiveTable"><div class="col-sm-2">Name</div><div class="col-sm-2">Type</div><div class="col-sm-2">Required</div><div class="col-sm-2">Show</div><div class="col-sm-2">Enumerations</div><div class="col-sm-2">Action</div></div></div>'+data);
				$('#footerEditPosttype').html('<form method="post" action="" id="EditFieldsForm" enctype="multipart/form-data">{% csrf_token %}<div class=""><button type="button" id="EditFieldsButton" hash='+data["posttypeHash"]+' class="btn btn-sm btn-outline-primary mr-auto"><i class="fa fa-plus" aria-hidden="true"></i> Add Field</button>&nbsp;&nbsp;<input type="checkbox" name="Enumeration" id="enumcheck"><label for="enumcheck">Enumeration?</label></div></form><button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>');
				$('input[name="name"]').attr('readonly', true);
			}		
		});
    });


//EDIT MODAL DELETE SELECTED POSTTYPE
$(document).on ("click", "#DeleteSelectedPosttype", function (event) {
		event.preventDefault();
		var data = new FormData($('#editPosttypeTrigger').get(0));
		data.append('CommunityHash', '{{community_Hash}}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/DeletePosttypes/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				$('#PosttypeModal').modal('hide');
				location.reload();
			}		
		});
    });

//ADD PRIMITIVE FIELDS AS A RESPONSE OF A FORM (EDIT POSTTYPE FORM)	
	$(document).on ("click", "#EditFieldsButton", function (event) {
			event.preventDefault();
			var data = new FormData($('#EditFieldsForm').get(0));
			data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
			$.ajax({
				type:'POST',
				url: '/streampage/addPosttypeEditField/',
				data: data,
				processData: false,
				contentType: false,
				dataType: "html",
				success: PrimitiveEditResult
			});
	});

	function PrimitiveEditResult(data, textStatus, jqXHR){
		$(data).appendTo($("#editReturnedFields")).show( "slow" );
		var posttypeHash = document.getElementById("currentPosttype").getAttribute("hash");
		$('#SavePrimitive').attr("hash",posttypeHash);
		var time = (new Date).getTime();
		$('#SavePrimitive').attr("id",time);
		$('#SavePrimitiveButton').attr("id",time);
		$('#SavePrimitiveButton').attr("id",time);
	}
	
	
//ADD OR UPDATE PRIMITIVES
	$(document).on ("click", "[updateClassEditModal]", function (event) {
		selectedID=$(this).attr('id');
		event.preventDefault();
		var data = new FormData($('#'+ selectedID).get(0));
		var posttypeHash = document.getElementById('currentPosttype').getAttribute("hash");
		data.append('CommunityHash', '{{community_Hash}}');
		data.append('PosttypeHash', posttypeHash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/SavePrimitives/',
			data: data,
			idval: selectedID,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				if (data.trim() == "Data is saved!"){
					$( "button[id="+this.idval+"][updateClassEditModal='true']" ).html( '<i class="fa fa-edit small" style="font-size:24px"></i>' );
					$( "button[id="+this.idval+"][deleteClassEditModal='true']" ).attr("deleteClass","db");
				}
			}		
		});
    });

//DELETE FIELDS
	$(document).on ("click", "[deleteClassEditModal]", function (event) {
		if ($(this).attr('deleteClassEditModal') == "db"){
			selectedID=$(this).attr('id');
			event.preventDefault();
			var data = new FormData($('#'+ selectedID).get(0));
			var posttypeHash = document.getElementById('currentPosttype').getAttribute("hash");
			data.append('CommunityHash', '{{community_Hash}}');
			data.append('DatatypeHash', posttypeHash);
			data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
			$.ajax({
				type:'POST',
				url: '/streampage/DeletePosttypeFields/',
				data: data,
				idval: selectedID,
				processData: false,
				contentType: false,
				dataType: "html",
				success: function(data, textStatus, jqXHR){
					alert(data)
					if (data.trim() == "Posttyype Field is Deleted Successfully!"){
						jQuery('#'+this.idval).remove();
					}
				}		
			});
		}else{
			selectedID=$(this).attr('id');
			jQuery('#'+selectedID).remove();
		}
    });

//ADD POST MODAL FETCH POSTTYPES
	$(document).on ("click", "#Add_Post", function (event) {
		event.preventDefault();
		var data = new FormData();
		data.append('community_Hash', '{{community_Hash}}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/AddPostModal/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){				
				$('#addPostModalBody').html(data);
				$('#chooseButtons').html('<button type="button" id="AddSelectedPost" hash="" class="btn btn-primary btn-sm">Select Posttype</button>');
				$('#AddPost').modal('show');
			}		
		});
    });
	
//ADD POST FOR SELECTED POSTTYPE
	$(document).on ("click", "#AddSelectedPost", function (event) {
		event.preventDefault();
		var data = new FormData($('#addPostTrigger').get(0));
		data.append('community_Hash', '{{community_Hash}}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/ReturnPostFields/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				$('#returnedPostFields').html(data);
				var tagSelector = document.getElementById("postTag");
				if(!tagSelector){
					$('#addPostTagDivision').append('<label for="postTag">Tag Selector:</label><div class="row p-2"><select class="form-control col-sm-10" id="postTag"></select><button type="click" id="addTagforPost" class="btn btn-outline-primary btn-sm mr-auto col-sm-2 small"><i class="fa fa-plus small" aria-hidden="true"></i> Add Tag</button></div>');
				}
				var tagSelectorMap = document.getElementById("id_LocationEntry");
				if(tagSelectorMap){
					$('#map').show();
				}	
			}		
		});
    });

	var tagSearchPt = function() {
		$.ajax({
            url: "/streampage/searchTag",
            data: {
				'search_text' : $('#id_TextEntry').val(),
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
			},
			type: "GET",
            dataType: "html",
            success: searchResultPt
        });			
	};	
	function searchResultPt(data, textStatus, jqXHR){
		var postTagList = data.split("#");
		$('#postTag').html("");
		for(var i=0; i< postTagList.length; i++){
			$('#postTag').append( new Option(postTagList[i],i));
		}
	}
	
	$("body").on('keyup', "#id_TextEntry", tagSearchPt);
	
	$(document).on ("click", "#addTagforPost", function (event) {
		var selectedName = $('#postTag').find(":selected").text();
		console.log(selectedName)
		$("#id_TagEntry").append("#"+selectedName);
	});
	
	
//SUBMIT POST
	$(document).on ("click", "#SubmitPost", function (event) {
		event.preventDefault();
		$("div[entryInput='yes']").each(function() {
			new_name=$(this).attr("id");
			$(this).find('.form-control').attr('name',new_name)
			$(this).find("input").attr('name',new_name)
		});
		
		$("option").each(function() {
			(new_name=$(this).text())
			$(this).attr('value',new_name)
		});
		var data = new FormData($('#AddPostReturned').get(0));
		var posttypeHash = document.getElementById('ptHashId').getAttribute("hash");
		data.append('community_Hash', '{{community_Hash}}');
		data.append('PosttypeHash', posttypeHash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/CreatePost/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				$('#AddPost').modal('hide');
				window.location.reload();
			}		
		});
    });
	
//DELETE POST
	
	$(document).on ("click", "#deletePost", function (event) {
		PostHash=$(this).attr('hash');
		event.preventDefault();
		var data = new FormData();
		data.append('PostHash', PostHash);
		data.append('CommunityHash', '{{ Community_Name.0.communityHash}}');
		data.append('DatatypeHash', '{{ Datatype_Name.0.datatypeHash }}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/DeletePost/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload();
			}		
		});
    });


//SEARCH POST (ADVANCED SEARCH)

	$(document).on ("click", "#Search_Entry", function (event) {
		event.preventDefault();
		var data = new FormData();
		data.append('community_Hash', '{{community_Hash}}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/chooseSearch/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){				
				$('#SearchPostBody').html(data);
				$('#chooseSearchButtons').html('<button type="button" id="AddSelectedSearch" hash="" class="btn btn-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i>Select Field</button>&nbsp;&nbsp;OR Search&nbsp;&nbsp;<button type="button" id="AddFreeSearch" hash="" class="btn btn-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i>Free Field</button>');	
				$('#SearchPost').modal('show');
			}		
		});
    });

//RETURN SEARCH FIELDS
	$(document).on ("click", "#AddSelectedSearch", function (event) {
		event.preventDefault();
		var data = new FormData($('#addSearchTrigger').get(0));
		data.append('community_Hash', '{{community_Hash}}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/ReturnSearchFields/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				$(data).appendTo($("#SearchEntry")).show( "slow" );			
			}		
		});
    });
	
//RETURN FREE FIELDS
$(document).on ("click", "#AddFreeSearch", function (event) {
		event.preventDefault();
		var data = new FormData();
		data.append('community_Hash', '{{community_Hash}}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/ReturnFreeSearchFields/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				$("#SearchEntry").html(data);			
			}		
		});
    });
	
//SUBMIT SEARCH FIELDS
	$(document).on ("click", "#SubmitSearch2", function (event) {
		event.preventDefault();
		var data = new FormData($('#SearchEntry').get(0));
		data.append('community_Hash', '{{community_Hash}}');
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/test/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				$(data).appendTo($("#returnedSearchFields")).show( "slow" );			
			}		
		});
    });
	

	$(document).on ("click", "#SubmitSearch", function (event) {
		event.preventDefault();
		var i=0;
		var ats=[];
		$("div[searchInput='yes']").each(function() {
				at = $(this).attr("id")
				ats.push(at);
		});
		
		for (var i = 0; i < ats.length; i++) {
			console.log(ats[i]);
			$("div[id='"+ats[i]+"']"+" > div > div > select").each(function() {
				$(this).attr('name',ats[i]+"_Condition")
			});
			$("div[id='"+ats[i]+"']"+" > div > div > input").each(function() {
				$(this).attr('name',ats[i]+"_Value")
			});	
			
			$("#id_EnumaratedSearchEntry").each(function() {
				$(this).attr('name',ats[i]+"_Value")
				$(this).attr('id',ats[i]+"_Value")
			});	
			
		}
		
		$("option").each(function() {
			(new_name=$(this).text())
			$(this).attr('value',new_name)
		});
		var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
		$('#SearchEntry').append('<input type="hidden" name="CommunityHash" value="{{community_Hash}}" />');
		$('#SearchEntry').append('<input type="hidden" name="csrfmiddlewaretoken" value="'+csrftoken+'" />');
		var data = new FormData($('#SearchEntry').get(0));
		$.ajax({
			type:'POST',
			url: '/streampage/ReturnEntrySearchResults/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				document.open();
				document.write(data);
				document.close();
				$('#SearchPost').modal('hide');
				//window.location.href = data;
				//$(data).appendTo($("#SearchEntry")).show( "slow" );
			}		
		});
    });

//POST COMMENTS

	$(document).on ("click", "#createComment", function (event) {
		event.preventDefault();
		var relatedID = $(this).attr('hash');
		var data = new FormData($('#'+relatedID).get(0));
		data.append('community_Hash', '{{community_Hash}}');
		data.append('post_Hash', relatedID);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/CreatePostComment/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				location.reload();				
			}		
		});
    });

//POST COMMENT POST SITE
	$(document).on ("click", "#createCommentPage", function (event) {
		event.preventDefault();
		var relatedID = $(this).attr('hash');
		var data = new FormData($('#'+relatedID).get(0));
		data.append('community_Hash', '{{community.communityHash}}');
		data.append('post_Hash', relatedID);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/CreatePostComment/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				location.reload();				
			}		
		});
    });

//DELETE COMMENT
	$(document).on ("click", "#deleteComment", function (event) {
		event.preventDefault();
		var commentHash = $(this).attr('hash');
		var data = new FormData();
		data.append('comment_Hash', commentHash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/deletePostComment/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				location.reload();				
			}		
		});
    });

	
//SUBSCRIBE POSTTYPE
	$(document).on ("click", "#SubscribePost", function (event) {
		var Phash = $(this).attr('hash');
		var data = new FormData();
		data.append('post_Hash', Phash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/subscribePosttype/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				window.location.reload();
			}		
		});
	});
	
	//UNSUBSCRIBE POSTTYPE
	$(document).on ("click", "#UnsubscribePost", function (event) {
		var Phash = $(this).attr('hash');
		var data = new FormData();
		data.append('post_Hash', Phash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/unsubscribePosttype/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload()
			}		
		});
	});
	
//REPORT POST MODAL
	$(document).on ("click", "#ReportPost", function (event) {
		var Phash = $(this).attr("hash");
		var requestFormData = {"FlagPost":"True"};
		var reportPosttypeForm = $.zResponse("/streampage/reportPostModal",requestFormData);
		$('#ReportPostBody').html(reportPosttypeForm);
		$('#ReportPostTitle').html("Report Post");
		$('#createPostReport').attr("hash",Phash);
		$('#ReportPostModal').modal('show');
	});

//REPORT POST 
	$(document).on ("click", "#createPostReport", function (event) {
		var Phash = $(this).attr('hash');
		var data = new FormData($('#reportFormTag').get(0));
		data.append('post_Hash', Phash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/reportPost/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				window.location.reload()
			}		
	    });
	});
	
//RESOLVE REPORT
	$(document).on ("click", "#problemSolved", function (event) {
		var Phash = $(this).attr('hash');
		var data = new FormData($('#reportFormTag').get(0));
		data.append('post_Hash', Phash);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/reportPostDelete/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				window.location.reload()
			}		
	    });
	});
	
	//UPLOAD PROFILE PHOTO FORM
	$(document).on ("click", "#addPhoto", function (event) {
		var data = new FormData()
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/uploadPhotoForm/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				$("#replaceSave").html('<button type="button" id = "saveProfilePhoto" class="btn btn-sm btn-primary align-self-end p-2" style="width:100%"><i class="fa fa-save" style="font-size:16px" aria-hidden="true"> Save </i><br>');
				$("#returnPhotoForm").html(data);
			}		
	    });
	});
	
   //SAVE PROFILE PHOTO
	$(document).on ("click", "#saveProfilePhoto", function (event) {
		var data = new FormData($('#uploadPhotoForm').get(0));
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/uploadPhoto/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data);
				window.location.reload();
			}		
	    });
	});
	
	//EDIT USERINFO MODAL
	$( "#Edit_User" ).click(function() {
		var requestFormData={Form:"Yes"};
		var userForm = $.zResponse("/streampage/EditUserModal",requestFormData);
		$('#userEditModalBody').html(userForm);
		$('#UserEditModalTitle').html("Edit Profile Data");
		$('#UserEditModal').modal('show');
	});
	
//EDIT USERINFO METADATA
	$(document).on ("click", "#editUserButton", function (event) {
		event.preventDefault();
		var data = new FormData($('#editUser').get(0));
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/EditUser/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload();
			}		
		});
	});

//FOLLOW USER
	$(document).on ("click", "#followUser", function (event) {
		event.preventDefault();
		var uNAme = $(this).attr('userName');
		var data = new FormData();
		data.append('user', uNAme);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/FollowUser/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload();
			}		
		});
	});

//UNFOLLOW USER
	$(document).on ("click", "#unfollowUser", function (event) {
		event.preventDefault();
		var uNAme = $(this).attr('userName');
		var data = new FormData();
		data.append('user', uNAme);
		data.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
		$.ajax({
			type:'POST',
			url: '/streampage/UnFollowUser/',
			data: data,
			processData: false,
			contentType: false,
			dataType: "html",
			success: function(data, textStatus, jqXHR){
				alert(data)
				window.location.reload();
			}		
		});
	});
	
	$('button[LeaveCommunity="Yes"]').each(function() {
		console.log("Yes");
		myHash = $(this).attr('hash')
		$('[hash='+myHash+'][JoinCommunity="Yes"]').hide();
	});
	
	$('button[UnsubscribePost="Yes"]').each(function() {
		console.log("Yes");
		myHash = $(this).attr('hash')
		$('[hash='+myHash+'][SubscribePost="Yes"]').hide();
	});
	
	$('#profilePhoto').attr('redundant','{{userPhoto}}')
	if($('#profilePhoto').attr('redundant') != "None"){
		if($('#profilePhoto').attr('redundant')){
			photoDir = $('#profilePhoto').attr('redundant');
			$('#profilePhoto').attr('src',photoDir);
		}
	}

});



</script>

<body class=" bg-light">

<!-- Main Content -->
    <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top">
		<a class="navbar-brand" href="/streampage/">
			<img src="{% static 'uploads/logo/Logo.png' %}" width="55" height="55" class="d-inline-block align-top">
			<img src="{% static 'uploads/logo/LogoText.png' %}" width="55" height="55" class="d-inline-block align-top">
		</a>
		<a class="nav-link" href="/streampage/communities">
			<span class="mr-2 d-none d-lg-inline text-white-600"><font color="white">Communities</font></span>
		</a>
		<!-- Topbar Navbar -->
			<ul class="navbar-nav ml-auto">
			<!-- Nav Item - User Information -->
				<li class="nav-item dropdown no-arrow">
					<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="mr-2 d-none d-lg-inline text-white-600 small">{{user}}</span>
						<img id="profilePhoto" class="img-profile rounded-circle" src="{% static 'uploads/profiles/default.jpg' %}" redundant="">
					</a>
					<!-- Dropdown - User Information -->
					<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
						<a class="dropdown-item" href="/streampage/profile">
							<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
							Profile
						</a>
						<a class="dropdown-item" href="#">
							<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
							Settings
						</a>
						<a class="dropdown-item" href="#">
							<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
							Activity Log
						</a>
						<div class="dropdown-divider">
						</div>
						<a class="dropdown-item" href="/streampage/logout">
							<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
							Logout
						</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>
        <!-- End of Topbar -->

  
	<div class="container-fluid text-center">    
	  <div class="row content">
		<div class="col-sm-2 sidenav d-flex">
		</div>
		<div class="col-sm-8 text-left"> 
		  {% block content %}{% endblock %}
		</div>
		<div class="col-sm-2 sidenav d-flex">
		</div>
	  </div>
	</div>
	<footer class="container-fluid text-center">
	  <p>Copyright Mystream 2020</p>
	</footer>
	<script>
		function myMap() {
			myCoordinates = [];
			$("div[googleMap='yes']").each(function() {
				var lat = parseFloat($(this).attr("coordinates").split(",")[0]);
				var lng = parseFloat($(this).attr("coordinates").split(",")[1]);
				var mapProp = {center:new google.maps.LatLng(lat,lng), zoom:5,};
				var map = new google.maps.Map(this,mapProp);
				var myLoc = {};
				myLoc['lat'] = lat;
				myLoc['lng'] = lng;
				console.log(myLoc);
				var marker = new google.maps.Marker({position: myLoc, map: map});
			});
			
			var latlng = new google.maps.LatLng(41.0847611, 29.0488512,17);
			var map = new google.maps.Map(document.getElementById('map'), {
				center: latlng,
				zoom: 11,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			var marker = new google.maps.Marker({
				position: latlng,
				map: map,
				title: 'Set lat/lon values for this property',
				draggable: true
			});
			google.maps.event.addListener(marker, 'dragend', function(event) {
				var latitude = event.latLng.lat();
				var longitude = event.latLng.lng();
				$('#id_LocationEntry').attr("value", latitude + ',' + longitude )
			});
		}
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYBw5zZ3pv2dCbD-8lIdFUDQUkN_7T3yg&callback=myMap"></script>
</body>
</html>
