{% extends "base.html" %} 

{% block content %}
<div id="Datatypes_list" class="">
  <div class="card mb-2">
	<!-- Card Body -->
	<div class="card-body small">
		<div class="d-flex flex-row align-items-center justify-content-between">
			<div class="">
				{{ community }} Community
			</div>			
			<div class="">
				Created by: {{ community.communityCreator }} at {{ community.communityCreationDate }}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-3">
				<img src="{{ community.communityPhoto }}" width="125" height="100" class="img-thumbnail"><br>
			</div>
			<div class="col-sm-9">
				<p>{{ community.description }}</p>
				<p>{{ community.communityTags }}</p>
			</div>
		</div>
	</div>
  </div>
  <div class="card mb-2">
     <div class="p-2">
			<button type="button" id="AddPosttype" class="btn btn-warning btn-sm">
				<i class="fa fa-plus" aria-hidden="true"></i> Add Posttype
			</button>
			<button type="button" id="Edit_Primitive" class="btn btn-success btn-sm">
				<i class="fas fa-edit" aria-hidden="true"></i>Edit Posttypes
			</button>	
			<button type="button" id="Add_Post" class="btn btn-danger btn-sm">
				<i class="fa fa-plus" aria-hidden="true"></i> Add Post
			</button>
			<button type="button" id="Search_Entry" class="btn btn-primary btn-sm">
				<i class="fa fa-search" aria-hidden="true"></i> Search
			</button> 
		</div>
  </div>
<!-- Modal -->
	<div class="modal fade small" id="PosttypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title" id="posttypeModalTitle"></h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="post" action="" id="createPosttype" enctype="multipart/form-data">
				<div id="PosttypeModalBody" class="modal-body" >
					{% csrf_token %}
					{{form.as_p }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary small" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary small">Create</button>
				</div>
				</form>
			</div>
		</div>
	</div>
<div class="pagination">
    <span class="step-links">
        {% if dt_resp.has_previous %}
            <a href="http://18.219.3.42:8000/community/sendPosttypePage/?showDataTypes={{dt_resp.0.relatedCommunity}}&page=1">&laquo; first</a>
            <a href="http://18.219.3.42:8000/community/sendPosttypePage/?showDataTypes={{dt_resp.0.relatedCommunity}}&page={{ dt_resp.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ dt_resp.number }} of {{ dt_resp.paginator.num_pages }}.
        </span>

        {% if dt_resp.has_next %}
            <a href="http://18.219.3.42:8000/community/sendPosttypePage/?showDataTypes={{dt_resp.0.relatedCommunity}}&page={{ dt_resp.next_page_number }}">next</a>
            <a href="http://18.219.3.42:8000/community/sendDatatypePage/?showDataTypes={{dt_resp.0.relatedCommunity}}&page={{ dt_resp.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div></div> 
{% endblock %}
