{% extends "base.html" %}

{% block content %}
<div class="row">
	{% for activity in activities %}
	<div class="card shadow mb-4 col-md-12">
			<!-- Card Body -->
        <div class="card-body">
			<div class="modal-body row">
				<div class="col-md-9 small">
					<b>{{ activity.detail.actor.name }}</b>&nbsp;{{ activity.detail.type }}&nbsp;<b>{{ activity.detail.object.name }}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ activity.detail.published }}
				</div>
			</div>
		</div>
    </div>
    {% endfor %}
</div>
{% endblock %}