<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to Commuınityverse</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sb-admin-2.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-light">
  <div class="bg-light">
   <div class="row">
        <div class="col-lg">
			<div class="card card-block w-50 mx-auto shadow p-3">
				<a class="text-center"><img src="{% static 'uploads/logo/logo.png' %}"></a>
				<div><b>{{title}}</b></div>
				<div class="tab-content h-50" id="myTabContent">
				<!----Login----->
				  <div class="tab-pane fade show active p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
						<form method="post" action="">
							{% csrf_token %}
							{{form.as_p }}
							</label><br>
							<button class="btn btn-primary" type="submit">{{title}}</button>
						</form>
				  </div>
				{% if title == "Login" %}Not Registered? <a href = "/community/register">Register Here</a>{% endif %}
				{% if title == "Register" %}Already Registered? <a href = "/community/login">Login Here</a>{% endif %}
      
				</div>
				<div>
					{% if form.errors %}
						<p>Login failed!</p>
					{% endif %}
					{% if next %}
						{% if user.is_authenticated %}								
						{% else %}
							<p>Please login!</p>
						{% endif %}
					{% endif %}
				</div>
			</div>
        </div>
    </div>
  </div>



</body>

</html>
