{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Annotation Demo Project</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="{% static "css/popup.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static "css/jquery.Jcrop.css" %}">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>

    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/annotation-model.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>



</head>


<body style="text-align:justify-all;position:center; top:10px; margin:5%">

<span style="text-align:right;position:sticky; top:2px;"></span>
<h2 style="text-align: center;">
    Web Annotation Demo
</h2>

<h2 style="text-align: left;">
    Text and Image Annotation
</h2>

<div class="image" style="position: relative;">
        <img src="{% static 'images/animals.jpg' %}" >
</div>

<p>
    Experts say keeping good hygiene would reduce the risk of transmitting and contracting the COVID-19. Indeed clean
    water is our first line of defence during this time of turbulence. Access to clean water is a basic human right and
    no one should fear losing their life because they couldn’t practice the first line of defence, which is hand
    washing.
</p>

<div class="image" style="position: relative;">
        <img src="{% static 'images/colors.jpg' %}" >
</div>

<p>
    Kenya faces difficulty in water supply. Majority of Kenyans do not have access to clean water. However,
    this is not the time to live everything as deprivation. This is the time to promote solidarity through sharing the
    little resources we have. This crisis needs community more than ever and we need to do what is reasonable to keep
    everyone safe.
</p>








</body>

<div class="annoContainer" id="annoContainer" style="display: none;">
    <div id="header" style="width: 425px; background-color: #ffffff; position: fixed;">
        <div class="input-group mb-3 search" >
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Search Annotation</span>
          </div>
          <input type="text" class="form-control" id="searchAnnotation" aria-describedby="basic-addon3">
        </div>
    </div>
    <div id="content" style="overflow: scroll; margin-top: 100px;"></div>
    <div id="footer">
        <br>
        <label id ="annotationCount">
            There is not any annotation, yet.
        </label>
        <br>
    </div>

</div>

<div class="slideButton" >
    <button id="slideButton" type="button" class="btn btn-warning" style="display: block;">
        <svg class="bi bi-bookmarks-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 4a2 2 0 012-2h6a2 2 0 012 2v12l-5-3-5 3V4z" clip-rule="evenodd"/>
          <path d="M14 14l-1-.6V2a1 1 0 00-1-1H4.268A2 2 0 016 0h6a2 2 0 012 2v12z"/>
        </svg>
    </button>
</div>

<div  class="openHighlightButton" >
    <button id="openHighlightButton" type="button" class="btn btn-warning" style="display: none;">
        <svg class="bi bi-eye-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5 8a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z"/>
          <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 100-7 3.5 3.5 0 000 7z" clip-rule="evenodd"/>
        </svg>
    </button>
</div>

<div class="closeHighlightButton" >
    <button id="closeHighlightButton"  type="button" class="btn btn-warning" style="display: block;">
        <svg class="bi bi-eye" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z" clip-rule="evenodd"/>
        </svg>
    </button>
</div>

<div class="createAnnotationButton" >
    <button id="createAnnotationButton"  type="button" class="btn btn-warning" style="display: block;">
        <svg class="bi bi-chat-square-quote-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 2a2 2 0 012-2h12a2 2 0 012 2v8a2 2 0 01-2 2h-2.5a1 1 0 00-.8.4l-1.9 2.533a1 1 0 01-1.6 0L5.3 12.4a1 1 0 00-.8-.4H2a2 2 0 01-2-2V2zm7.194 2.766c.087.124.163.26.227.401.428.948.393 2.377-.942 3.706a.446.446 0 01-.612.01.405.405 0 01-.011-.59c.419-.416.672-.831.809-1.22-.269.165-.588.26-.93.26C4.775 7.333 4 6.587 4 5.667 4 4.747 4.776 4 5.734 4c.271 0 .528.06.756.166l.008.004c.169.07.327.182.469.324.085.083.161.174.227.272zM11 7.073c-.269.165-.588.26-.93.26-.958 0-1.735-.746-1.735-1.666 0-.92.777-1.667 1.734-1.667.271 0 .528.06.756.166l.008.004c.17.07.327.182.469.324.085.083.161.174.227.272.087.124.164.26.228.401.428.948.392 2.377-.942 3.706a.446.446 0 01-.613.01.405.405 0 01-.011-.59c.42-.416.672-.831.81-1.22z" clip-rule="evenodd"/>
        </svg>
    </button>
</div>




<div id="popover-template" style="display:none">
    <div class="popover" role="tooltip">
        <div class="arrow"></div>
        <h3 class="popover-header"></h3>
        <div class="popover-body">
        </div>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" style="top: 10px; left: 10px; min-height: 200px; min-width: 500px;">
  <div class="toast" style="position: fixed; top: 0; left: 0;">
    <div class="toast-header" style="background-color: #f9bb00;">
      <strong class="mr-auto toast-title "> Header </strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
        Content
    </div>
  </div>
</div>


<div id="annotation-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f9bb00;">
        <h5 class="modal-title" id="modalLongTitle" >Create Annotation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="annotation-modal-form" class="modal-body">

          <form>
              <div class="form-group">
                <label for="target">Target</label>
                <input type="text" class="form-control" id="target" >
              </div>
              <div class="form-group">
                <label for="body">Body</label>
                <input type="text" class="form-control" id="body" >
              </div>

              <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="type">
                  <option value="TextualBody">Text</option>
                  <option value="Image" >Image</option>
                  <option value="Video" >Video</option>
                </select>
              </div>

              <input type="hidden" class="form-control" id="canonical" >
              <input type="hidden" class="form-control" id="jsonAnnotation" >
              <input type="hidden" class="form-control" id="annoType" >

              <div class="modal-footer">
                  <button id="submit" type="submit" class="btn btn-warning">Create</button>
              </div>

            </form>
      </div>

    </div>
  </div>
</div>



</html>
