{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Annotation Demo Project</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href={% static "css/popup.css" %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/annotation-model.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>




</head>


<body style="text-align:justify-all;position:center; top:10px; margin:5%">

<span style="text-align:right;position:sticky; top:2px;"></span>
<h2 style="text-align: center;">
    Web Annotation Demo
</h2>

<h2 style="text-align: left;">
    Let’s Save a Little Water for Everyone
</h2>

<p>
    Experts say keeping good hygiene would reduce the risk of transmitting and contracting the COVID-19. Indeed clean
    water is our first line of defence during this time of turbulence. Access to clean water is a basic human right and
    no one should fear losing their life because they couldn’t practice the first line of defence, which is hand
    washing. Kenya faces difficulty in water supply. Majority of Kenyans do not have access to clean water. However,
    this is not the time to live everything as deprivation. This is the time to promote solidarity through sharing the
    little resources we have. This crisis needs community more than ever and we need to do what is reasonable to keep
    everyone safe.
</p>



<div id="popover-template">
    <div class="popover" role="tooltip">
        <div class="arrow"></div>
        <h3 class="popover-header"></h3>
        <div class="popover-body">
        </div>
    </div>
</div>




<div id="annotation-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLongTitle">Create Annotation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="annotation-modal-form" class="modal-body">

          <form>
              <div class="form-group">
                <label for="target">Target</label>
                <input type="text" class="form-control" id="target" >
              </div>
              <div class="form-group">
                <label for="body">Body</label>
                <input type="text" class="form-control" id="body" >
              </div>

              <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="type">
                  <option value="Text">Text</option>
                  <option value="Image" >Image</option>
                  <option value="Video" >Video</option>
                </select>
              </div>

              <input type="hidden" class="form-control" id="canonical" >
              <input type="hidden" class="form-control" id="jsonAnnotation" >

              <div class="modal-footer">
                  <button id="submit" type="submit" class="btn btn-primary">Create</button>
              </div>

            </form>
      </div>

    </div>
  </div>
</div>



</html>