{% extends "base.html" %} 

{% block content %}
	<b>{{ community.name }} > {{ posttype.name }}</b><br><br>
	<div class="right small">
	<b>Creation Time: </b> {{ postEntries.postInstances.0.posttype.0.fieldCreationDate }}<br>
	<b>      Creator: </b> {{ postEntries.postInstances.0.posttype.0.fieldCreator }}
	</div><br><br>
	<h5><b>INFORMATION</b><h5>
		<table class="table small"
		  <tr>
		    <td>
			<div class = "small">
				{% for fields in postEntries.postInstances.0.postList %}
					{% for types in postEntries.postInstances.0.posttype %}
						{% if types.name == fields.propertyName  %}
							{% if types.relatedPrimitives.name  != "Image" and types.relatedPrimitives.name  != "Location" %}
								<b>{{ fields.propertyName }}:&nbsp</b>
								{{ fields.propertyValue }}<br>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				<div class="row">
					{{ fields.postTag }}
				</div>
			</div>
			</td>
		  </tr>
		</table><br><br>
		<h5><b>MEDIA</b></h5>
		<table class="table small">
			<tr>
				{% for fields in postEntries.postInstances.0.postList %}
							{% for types in postEntries.postInstances.0.posttype %}
								{% if types.name == fields.propertyName  %}
									{% if types.relatedPrimitives.name  == "Image"  %}
									  <td width="250px" >
										<b>{{ fields.propertyName }}:&nbsp</b><br>
										<img src="{{ fields.propertyValue }}" width="250px" height="200px">
									  </td>
									{% endif %}
								{% endif %}
							{% endfor %}
				{% endfor %}
			</tr>
		</table><br><br>
		<h5><b>LOCATION</b></h5>
		<table class="table small">
			<tr>
				{% for fields in postEntries.postInstances.0.postList %}
							{% for types in postEntries.postInstances.0.posttype %}
								{% if types.name == fields.propertyName  %}
									{% if types.relatedPrimitives.name  == "Location"%}
									   <td width="250px" >
										<b>{{ fields.propertyName }}:&nbsp</b><br>
										<div id="googleMap" style="width:250px;height:200px;"></div>
									   </td>
									{% endif %}
								{% endif %}
							{% endfor %}
				{% endfor %}
			</tr>
		</table><br><br>
		<h5><b>COMMENTS</b></h5>
		<table class="table">
			<tr>
				<td>
					<form id="{{ postEntries.postInstances.0.postList.0.entryHash }}">
						  <div class="row p-2 ">
							  <div class="col-sm-10">
								{% csrf_token %}
								{{comment.as_p }}
							   </div>
							   <div class="col-sm-2 d-flex flex-row p-3">
									<button type="button" id = "createCommentPage" hash="{{ postEntries.postInstances.0.postList.0.entryHash }}" class="btn btn-sm btn-outline-primary align-self-end p-2"><i class="fas fa-comments" style="font-size:24px" aria-hidden="true"></i> Send</button>
							   </div>	
						  </div>
					   </form>
					   <table class="small">
					   {% for items in postEntries.postInstances.0.comments %}
					   <tr>
						  <td width="50px"><b>{{ items.postCommentCreator }}:</b></td>
						  <td width="500px">{{ items.commentText }}</td>
						  <td width="250px">{{ items.postCommentCreationDate }}</td>
					   </tr>
					   {% endfor %}
					</table>
				</td>
			</tr>
		 <table>
	    </div>
		{% load static %}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="{% static 'annotation/popup.js' %}"></script>
		<script type="text/javascript" src="{% static 'annotation/annotation-model.js' %}"></script>
		
		<div id="dialog-form" title="Create Annotation" style="display: none;>
			<p class="validateTips">All form fields are required.</p>
			<textarea id="output" style="height:80em;width:60%;pointer-events:none; margin-left:20%;margin-top:5%"
				placeholder="Web Annotation Data Model document appears here upon selection">
			</textarea>
			<form>
				<fieldset>
					<label for="target">Target</label>
					<input type="text" name="target" id="target" value="" class="text ui-widget-content ui-corner-all">
					<label for="body">Body</label>
					<input type="text" name="body" id="body" value="" class="text ui-widget-content ui-corner-all">
					<!-- Allow form submission with keyboard without duplicating the dialog button -->
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
				</fieldset>
			</form>
		</div>

{% endblock %}