{% extends "base.html" %} 

{% block content %}
{% load static %}

<div class="card mb-2">
	<!-- Card Body -->
	<div class="card-body small">
		<div class="d-flex flex-row align-items-center justify-content-between">
			<div class="">
				<h6><b>{{ UserInfo }}'s profile</b></h6>
			</div>			
			<div class="">
				<button type="button" id="Edit_User"  class="btn btn-outline-secondary btn-sm">
					<i class="fas fa-edit" aria-hidden="true"></i>
				</button>
			</div>
			
		</div>
		<br>
		<div class="row">
			<div class="col-sm-5">
				<div>
				<div>
					{% if UserInfo.userPhoto  %}
						<img src="{{ UserInfo.userPhoto }}" class="img-thumbnail"><br>
					{% else %}
						<img src="{% static 'uploads/profiles/default.jpg' %}" class="img-thumbnail"><br>
					{% endif %}
				</div>
				<div id="replaceSave">
					<button type="button" id = "addPhoto" class="btn btn-sm btn-primary align-self-end p-2" style="width:100%"><i class="fa fa-camera" style="font-size:16px" aria-hidden="true"> Upload Photo</i><br>
				</div>
			</div>
			<div>
				<br>
				<form method="post" action="" id="uploadPhotoForm" enctype="multipart/form-data">
					{% csrf_token %}
					<div id="returnPhotoForm">
					</div>
				</form>
			</div>
			</div>
			<div class="col-sm-7">
				<p id="UserMetaData">{{ community.description }}</p>
				<p><b>Nickname:  </b>{{ UserInfo.nickName }}</p>
				<p><b>Name:  </b>{{ UserInfo.userName }}</p>
				<p><b>Surname:  </b>{{ UserInfo.userSurname }}</p>
				<p><b>Birthday:  </b>{{ UserInfo.userBirthDay }}</p>
				<p><b>E-Mail:  </b>{{ UserInfo.userMail }}</p>
				<p><b>Bio:  </b>{{ UserInfo.userBio }}</p>
			</div>
		</div>
	</div>
  </div>
  
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#Alerts" role="tab">Alerts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#OwnedCommunities" role="tab">Owned Communities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#FollowingCommunities" role="tab">Following Communities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Activities" role="tab">Activities</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Followers" role="tab">Followers</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#Following" role="tab">Following</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="Alerts" role="tabpanel">
<!-- Card Body -->
<div class="card mb-2">
	<div class="card-body small">
		<div class="d-flex flex-row align-items-center justify-content-between">
			<table class="table">
			{{ReportList.0.relatedcommunity}}
				<th>Community</th>
				<th>Posttype</th>
				<th>Reason</th>
				<th>Creator</th>
				<th>Date</th>
				<th>Action</th>
				{% for rp in ReportList %}
				<tr>
					<script>console.log({{ rp.reportpostcreationdate}});</script>
					<td>{{ rp.relatedcommunity.name}}</td>
					{% if rp.reason == '0' %}
						<td>Sensitive Data Disclosure</td>
					{% elif rp.reason == '1' %}
						<td>Inappropriate Content</td>
					{% elif rp.reason == '2' %}
						<td>Other</td>
					{% endif %}
					<td>{{ rp.reason}}</td>
					<td>{{ rp.reportpostcreationdate}}</td>
				</tr>
				<tr>
					<td><b>Details</b></td><td>{{ rp.description}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
</div>
<div class="tab-pane" id="OwnedCommunities" role="tabpanel">
<!-- Card Body -->
	<div class="card mb-2">
		<div class="card-body small">
			<div class="d-flex flex-row align-items-center justify-content-between">
				<table class="table">
					{% for c in Communities %}
					<tr>
						<td>{{c}}<br><td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<div class="tab-pane" id="FollowingCommunities" role="tabpanel">
	<div class="card mb-2">
		<div class="card-body small">
			<div class="d-flex flex-row align-items-center justify-content-between">
			<table class="table">
				{% for j in Joined %}
				<tr>
					<td>{{j}}<td></br>
				</tr>
				{% endfor %}
			</table>
			</div>
		</div>
	</div>
</div>
  <div class="tab-pane" id="Activities" role="tabpanel">pane 4</div>
  <div class="tab-pane" id="Activities" role="Followers">pane 4</div>
  <div class="tab-pane" id="Activities" role="Following">pane 4</div>
</div><br><br>
<!-- Community Edit Modal -->
	<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal small" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<b><h8 class="modal-title" id="UserEditModalTitle"></h8></b>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="post" action="" id="editUser" enctype="multipart/form-data">
					<div id="userEditModalBody" class="modal-body">
						{% csrf_token %}
						{{form.as_p }}		
					</div>
				</form>
				<div class="modal-footer small">
					<button type="button" class="btn btn-secondary small" data-dismiss="modal">Close</button>
					<button type="click" id="editUserButton" class="btn btn-primary small">Edit</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}