{% csrf_token %}
{% for key,value in form.items  %}
<form method="post" action="" id="{{ key }}" enctype="multipart/form-data">
{% csrf_token %}
  <div class="container">

    <div class="row">
		{% for field in value  %}
		  <div class="col-sm-2">
			{{ field }} 
		  </div>
		{% endfor %}
</form>
	{% if value.fields|length == 4 %}
		<div class="col-sm-2">
		</div>
		<div class="col-sm-2">
			<table>
				<tr>
					<td><button type="button" editClass="true" id ="{{ key }}" class="btn btn-outline-success"><i class="fas fa-edit" style="font-size:24px"></i></button></td>
					<td><button type="button" removeClass="true" id ="{{ key }}" class="btn btn-outline-secondary"><i class="fa fa-trash" style="font-size:24px" aria-hidden="true"></i></button></td>
				</tr>
			</table>
		</div>
	{% else %}
		<div class="col-sm-2">
			<table>
				<tr>
					<td><button type="button" editClass="true" id ="{{ key }}" class="btn btn-outline-success"><i class="fas fa-edit" style="font-size:24px"></i></button></td>
					<td><button type="button" removeClass="true" id ="{{ key }}" class="btn btn-outline-secondary"><i class="fa fa-trash" aria-hidden="true" style="font-size:24px"></i></button></td>
				</tr>
			</table>
		</div>
	{% endif %}
    </div>     
  </div>
{% endfor %}

